
@{
    ViewBag.Title = "Index";
}

<h2>Ekleme Başarılı</h2>





@*@foreach (var item in ViewBag.MovieData)
{
    <h5>@item.Title - @item.Description - @item.CreatedDate</h5>

}*@

<hr />

@*@foreach (var item in ViewBag.GenreData)
{
    <h5>@item.Title - @item.Description</h5>

}*@


